<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuhuitong.nitri.xgd.mapper.NitriArticleMapper">

    <select id="articleList" resultType="com.fuhuitong.nitri.xgd.entity.NitriArticle">
        select
            na.id
            ,na.site_id
            ,na.title
            ,na.status_sign
            ,na.recommend_sign
            ,na.introduction
            ,na.content
            ,na.clicks
            ,na.pic_path
            ,na.create_time
        from
            nitri_article na
        where
            na.delete_sign=0
        order by na.create_time DESC
    </select>

</mapper>